.header__lang-link {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}

@media screen and (min-width: 426px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 117%;
  }
}

.header__lang-link:hover {
  opacity: .8;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}