@media screen and (max-width: 767px) {
  .root_margin-width-intro {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .root_margin-width-intro {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .root_margin-width-intro {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .root_margin-width-intro {
    margin-right: 148px;
    margin-left: 148px;
  }
}