.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  .header {
    margin-top: 18px;
  }
}

@media screen and (min-width: 426px) {
  .header {
    margin-top: 28px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin-right: 48px;
    margin-left: 48px;
  }
}