.footer__copyright {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 114%;
    text-align: right;
  }
}